<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Link to any css file here -->
    <title>Lab 07</title>
  </head>
  <body>
    <h1>To-do List</h1>
    <div>
      <label for="taskInput">Enter a task</label>
      <input type="text" id="taskInput" name="taskInput" />
      <button type="button" name="button" id="addListItemButton">
        Add List Item
      </button>
    </div>
    <div>
      <label for="listTypeInput">List Type (1, A, a, I, i):</label>
      <input type="text" id="listTypeInput" name="listTypeInput" />
      <button type="button" name="button" id="changeListTypeButton">
        Change List Type
      </button>
    </div>

    <div>
      <button type="button" name="button" id="removeLastListItemButton">
        Remove Last List Item
      </button>
    </div>

    <div>
      <ol></ol>
    </div>

    <!-- link to your js file here -->
    <script src = "lab-07.js"></script>
  </body>
</html>
